$yellow: #fffa19;
$red: #d12115;
$green: #32ad0c;

$grey: #cccccc;

@mixin footinfo ($color: #D8EDFF, $align: center , $t: 20px, $r: 20px, $b: 20px, $l: 20px) { 
	background-color: $color;
	text-align: $align;
	padding: 20px 20px 20px 20px;
}
	

@mixin margenes($top: 10px, $bottom: 10px) {
	margin-top: $top;
	margin-bottom: $bottom;
}


.group1{
	background-image: url("../images/sea.jpg");
	background-repeat: no-repeat;
	background-color: $grey;
	
	background-position:center;
	background-size: cover;
	text-align: center;
	padding-bottom: 20px;
}

.jumbotron {
	color: white;
	background-color: transparent !important;
	@include margenes(50px, 0px);
		
}

.breadcrumb{
	background-color: transparent !important;
}

.product {
	padding-bottom: 40px;
	text-align:center;
	padding-top:10px;	
}

.card-hotel {
	flex: 1 200px;
	padding:2px 2px 2px 2px;
	
}
.card-body {
	text-align:center;
	padding-bottom: 50px;
	padding-top:5px
}

.top_info {
	text-align:center;
	align-items: center;
	
	color:white;
}

.products_section {
	padding-left: 20px;
	padding-top:20px;
	
}



.btnreserva {
	position: absolute;
	width: 150px;
	bottom: 60px;
	transform: translate(-50%, 0%);

	
}


.footer {
	align-items: center;
  text-align: center;
	
}

.foot_info {
	@include footinfo ($yellow);
	
}

.contact_container {
	padding-bottom: 20px;
	padding-top:10px;
	
}

.card-footer {
	text-align:center;
}

.introduction {
	padding-left: 20px;
	text-align: center;
	
}

.hotel_img {
	max-height: 200px;
	height: 100%;
}

.texto_about{
	padding-left: 20px ;
	padding-right: 20px;
	padding-bottom: 20px;
}

.text1 {
	text-align:center;
}


.carousel-item {

	padding-bottom: 20px;
	max-width: 50%;
	transform: translate(25%, 0%);
}


.carousel-inner {
	padding-left: 25%;
}

.tarjetaclass {
	background-color:$green;
	color:white;
}
